<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crawler w/ XPATH</title>
</head>

<body>
    <h1>{{ news|length }} Berita</h1>
    <h3>Refresh untuk mengambil berita baru</h3>
    <hr>
    {% for n in news %}
        <ul>
            <li>URL : <a href="{{ n.url }}">{{ n.url }}</a></li>
            <li>Judul: {{ n.title }}</li>
            <li>Waktu Tayang: {{ n.article_ts }}</li>
            <li>Konten Lengkap: {{ n.content }}</li>
        </ul>
        <hr>
    {% endfor %}

</body>

</html>